.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
}

.footer__right * .MuiSlider-root {
  color: #1ed15e;
}

.footer__left {
  flex: 0.2;
  display: flex;
  align-items: center;
  color: white;
  max-width: 300px;
}

.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer__green {
  color: #1ed15e;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer__songInfo > p {
  font-size: 12px;
}

.footer__center {
  flex: 0.6;
  display: grid;
  justify-content: center;
}

.center__top {
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
}

.center__top > * {
  padding: 0 20px;
}

.center__bottom > .MuiSlider-root {
  color: gray;
}

.center__bottom {
  display: flex;
  align-items: center;
}

.center__bottom > * {
  padding: 0 20px;
  color: gray;
  font-size: 13px;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2 ease-in-out;
  transform: scale(1.2) !important;
}

.disabled {
  color: gray;
}

.footer__right {
  flex: 0.16;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-right: 2%;
}

#pause {
  display: none;
}

#bottom__slider {
  width: 100%;
  background-color: gray;
  border-radius: 5px;
  padding: 0;
}

#bar {
  width: 0%;
  height: 5px;
  background-color: #1ed15e;
  border-radius: 5px;
}

#volumeUp,
#volumeMute {
  display: none;
}

#tooltip {
  position: relative;
  /* display: none; */
}

#tooltipText {
  display: block;
  width: 120px;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  bottom: 0%;
  margin-bottom: 5px;
  z-index: 1;
  opacity: 0;
  /* transition: opacity 0.5s ease; */
}

#tooltip #tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

@media only screen and (max-width: 1200px) {
  .footer__right {
    margin-right: 3%;
  }
}

@media only screen and (max-width: 1000px) {
  .center__top > * {
    padding: 0 10px;
  }

  .footer__left {
    flex: 0.2;
  }

  .footer__center {
    flex: 0.6;
  }

  .footer__right {
    flex: 0.2;
  }
}

@media only screen and (max-width: 768px) {
  .footer__songInfo > h4 {
    font-size: 12px;
  }

  .footer__songInfo > p {
    font-size: 10px;
  }

  .footer__albumLogo {
    margin-right: 10px;
    height: 50px;
    width: 50px;
  }

  .center__top > * {
    padding: 0 5px;
  }

  .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 0 !important;
  }

  .footer__right {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    bottom: -1px;
    padding: 10px 5px;
  }

  .footer__left {
    flex: 1;
    /* display: flex; */
    /* align-items: center; */
    /* color: white; */
    min-width: 120px;
    /* margin: -20px; */
  }

  .footer__albumLogo {
    /* height: 60px; */
    /* width: 60px; */
    /* margin-right: 20px; */
    /* object-fit: contain; */
  }

  .footer__right {
    flex: 0.05;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-right: 0;
    position: relative;
  }

  .footer__center {
    justify-content: stretch;
    flex: 0.8;
  }

  .center__bottom > p {
    padding: 0 5px;
  }

  .center__top {
    padding: 0;
    justify-content: center;
  }

  .footer__icon,
  .footer__green {
    /* font-size: 30px !important; */
    padding: 0 8px !important;
  }

  .extra__icon {
    font-size: 20px !important;
    display: none !important;
  }

  .MuiGrid-item {
    margin-right: 25px !important;
    margin-left: 10px !important;
  }

  .volume-slider {
    display: none !important;
    position: absolute !important;
    left: -15%;
    bottom: 100%;
  }

  .MuiSlider-rail {
    /* height: 70px !important; */
  }

  .MuiSlider-track {
    width: 0 !important;
  }

  .MuiSlider-thumb {
    /* left: 0 !important; */
  }
}
