.songRow {
  margin-left: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  /* color: white; */
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
  display: flex;
  width: 100%;
}

.songRow__nameAndArtist {
  flex: 0.45;
}

.songRow__album {
  flex: 0.5;
  color: gray;
}

.songRow__trackLength {
  flex: 0.05;
  color: gray;
}

.songRow__nameAndArtist > h1 {
  font-size: 16px;
}

.songRow__nameAndArtist > p {
  font-size: 14px;
  margin-top: 3px;
  color: grey;
}

.songRow__albumImg {
  height: 40px;
  width: 40px;
}
