.songRow {
  margin-left: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
}

.songRow__number {
  color: gray;
  margin-right: 20px;
}

.songRow__info {
  margin-left: 20px;
  display: flex;
  width: 100%;
}

.songRow__nameAndArtist {
  flex: 0.45;
}

.songRow__album {
  flex: 0.5;
  color: gray;
}

.songRow__trackLength {
  flex: 0.05;
  color: gray;
}

.songRow__nameAndArtist > h1 {
  font-size: 16px;
}

.songRow__nameAndArtist > p {
  font-size: 14px;
  margin-top: 3px;
  color: grey;
}

.songRow__albumImg {
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 768px) {
  .songRow {
    margin-left: 20px;
  }

  .songRow__nameAndArtist > h1,
  .songRow__album,
  .songRow__trackLength {
    font-size: 14px;
  }

  .songRow__nameAndArtist > p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .songRow__nameAndArtist {
    flex: 1;
  }

  .songRow__album {
    display: none;
  }

  .songRow__trackLength {
    margin-left: 5px;
  }

  .songRow__number {
    font-size: 12px;
    margin-right: 10px;
  }
}
